/* You can add global styles to this file, and also import other style files */
.margin {
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

.form{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
