<div class="container" *ngIf="user">
	<h2 class="margin text-center">Profile</h2>
	<form class="margin" (submit)="onUpdateSubmit()">
		<div class="form-group">
			<label for="name">Nome:</label>	
			<input [(ngModel)]="updatedUser.name" class="form-control" type="text" id="name" name="name">
		</div>
		<div class="form-group">
			<label for="username">Username:</label>
			<input [(ngModel)]="updatedUser.username" class="form-control" type="text" id="username" name="username">
		</div>
		<div class="form-group" [ngClass]="{'has-danger': validateEmail == false && user.email != updatedUser.email, 'has-success': validateEmail && user.email != updatedUser.email}" >
			<label for="username">Email:</label>
				<input (input)="onKeyUpEmail($event)" class="form-control" type="email" [(ngModel)]="updatedUser.email" name="email" id="email" placeholder="Email">
				<div class="form-control-feedback" *ngIf="validateEmail == false">Por favor utilize um email valido!</div>
		</div>
		<div *ngIf="user.name != updatedUser.name || user.username != updatedUser.username || user.email != updatedUser.email" class="d-flex justify-content-center margin">
			<button *ngIf="validateEmail" class="btn btn-lg btn-outline-success" >Atualizar</button>
			<button *ngIf="!validateEmail" class="btn btn-lg btn-outline-danger" disabled >Atualizar</button>
		</div>
	</form>
	<hr class="margin">
	<h5 class="text-center">Atualizar informações de segurança</h5>
	<form class="margin" (submit)="onPasswordSubmit()">
		<!-- password -->
		<div class="form-group">
			<label for="newPassword">Nova senha:</label>
			<input (input)="onKeyUpPassword($event)" class="form-control" type="password" [(ngModel)]="password" name="newPassword" id="newPassword" placeholder="Senha">
		</div>
		<!-- confirm password -->
		<div class="form-group" [ngClass]="{'has-danger': validatePassword == false && password, 'has-success': validatePassword && confirmPassword != undefined && password}">
			<label for="confirmPassword">Confirmar senha:</label>
			<input (input)="onKeyUpPassword($event)" class="form-control" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="confirmar senha">
			<div class="form-control-feedback" *ngIf="validatePassword == false && password">Senhas são diferentes!</div>
		</div>
		<div *ngIf="password" class="d-flex justify-content-center margin">
			<button *ngIf="validatePassword" class="btn btn-lg btn-outline-success" >Atualizar</button>
			<button *ngIf="!validatePassword" class="btn btn-lg btn-outline-danger" disabled >Atualizar</button>
		</div>
	</form>
</div>
