<div class="container-fluid">
	<div class="jumbotron jumbotron-fluid text-center">
		<h2>Lista de Tarefas</h2>
	</div>
	<div class="container-fluid">
		<form (submit)="addTask()" >	
			<div class="input-group input-group-lg">
				<input  [(ngModel)]="newTitle" type="text" class="form-control new-task" placeholder="Adicionar tarefa!" name="newTask">
				<span class="input-group-btn" >
					<button *ngIf="newTitle != '' && newTitle != undefined" class="btn btn-secondary new-task">Add!</button>
				</span>
			</div>
		</form>
		<div  *ngFor="let task of tasks" class="tasks">
			<div class="row" [ngClass]="{'task-complete': task.isComplete}">
				<div class="col-sm-1 checkbox">
					<input (click)="onCheck($event, task)" type="checkbox" name="isComplete" [(ngModel)]="task.isComplete" class="form-control">
				</div>
				<div class="col-sm-11">
					{{ task.title }}
				</div>
			</div>
		</div>
		<div *ngIf="completeTask > 0" class="d-flex float-right margin">
			<button (click)="clean()" class="btn btn-outline-danger" id="clean">Limpar</button>
		</div>
	</div>
</div>